{% extends 'vrschool/main.html' %}
{% block content %}




<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'user' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>

            
			<img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="container">
                    <label for="Name">Name</label>
                    <input type="text" name="Name"><br>
                    <label for="Surname">Surname</label>
                    <input type="text" name="Surname"><br>
                    <label for="Email">Email</label>
                    <input type="text" name="Email">
                </div>

	
            <a class="btn btn-primary" href="{% url 'user' %}">Update info</a>
			</form>
		</div>
	</div>
</div>


{% endblock content %}